<template>
    <div class="flex flex-col items-center" v-if="status.user === 'success' && user">
        <div class="relative mb-8">
            <div class="w-100 h-64 overflow-hidden">
                <UploadableImage
                    imageWidth="1500"
                    imageHeight="300"
                    imageLocation="cover"
                    classes="object-cover w-full"
                    alt="alt"
                    :userImage="user.data.attributes.cover_image"
                ></UploadableImage>
            </div>

            <div class="absolute flex items-center bottom-0 left-0 -mb-8 ml-12 z-20">
                <div class="w-32">
                    <UploadableImage
                        imageWidth="150"
                        imageHeight="150"
                        imageLocation="profile"
                        classes="w-32 h-32 object-cover border-4 border-gray-200 rounded-full shadow-xl"
                        alt="alt"
                        :userImage="user.data.attributes.profile_image"
                    ></UploadableImage>
                </div>

                <p class="text-2xl text-gray-100 ml-4">{{user.data.attributes.name}}</p>
            </div>

            <div class="absolute flex items-center bottom-0 right-0 mb-4 mr-12 z-20">

                <button v-if="friendButtonText && friendButtonText !== 'Accept'"
                        class="py-1 px-3 bg-gray-400 rounded"
                        @click="$store.dispatch('sendFriendRequest', $route.params.userId)">
                    <span>{{friendButtonText}}</span>
                </button>
                <button v-if="friendButtonText && friendButtonText === 'Accept'"
                        class="mr-2 py-1 px-3 bg-blue-500 rounded"
                        @click="$store.dispatch('acceptFriendRequest', $route.params.userId)">
                    <span>Accept</span>
                </button>
                <button v-if="friendButtonText && friendButtonText === 'Accept'"
                        class="py-1 px-3 bg-gray-400 rounded"
                        @click="$store.dispatch('ignoreFriendRequest', $route.params.userId)">
                    <span>Ignore</span>
                </button>

            </div>

        </div>

        <div v-if="postsStatus === 'loading'">Loading posts..</div>

        <div v-else-if="posts.length < 1">No posts found. Get started..</div>

        <Post v-else v-for="(post, postKey) in posts.data" :key="postKey" :post="post"></Post>

    </div>
</template>

<script>
    import Post from "../../components/Post";
    import UploadableImage from "../../components/UploadableImage";
    import { mapGetters } from 'vuex';

    export default {
        name: "Show",

        components: {
            Post,
            UploadableImage
        },

        mounted() {
            this.$store.dispatch('fetchUser', this.$route.params.userId)
            this.$store.dispatch('fetchUserPosts', this.$route.params.userId)

        },

        computed: {
            ...mapGetters({
                user: 'user',
                posts: 'posts',
                status: 'status',
                postsStatus: 'newsStatus',
                friendButtonText: 'friendButtonText'
            })
        }
    }
</script>

<style scoped>

</style>
